*{

    box-sizing: border-box;

}

body{

    font-family: Arial, Helvetica, sans-serif;
    background-color: #96b3ff;
    padding: 0;
    margin: 0;

}

#contenedor{

    background-color: #96b3ff;
    max-width: 0 auto;
    border-radius: 5px;

}

header{

    padding: 5px;
    background-color: #00276c;
    text-align: center;

}

nav{

    display: flex;
    flex-direction: row;
    background-color: #5b7dcf;
    padding: 2px;
    margin: 2px 0;
    text-decoration: none;

}

nav a{

    color: #000;
    padding: 14px 20px;
    text-decoration: none;

}

ul{

    text-align: center;
    padding: 10px;

}

li{

    display: inline;
    padding: 10px 30px;
    margin: 2em;

}

li a:hover{

    color: white;
    text-decoration: none;
    list-style: none;
    
}

.row{

    display: flex;
    flex-wrap: wrap;

}

aside{

    background-color: #014ba0;
    padding: 20px;
    flex: 50%;
    margin: 0 0 2px 2px;

}

section{

    background-color: #014ba0;
    flex: 45%;
    padding: 20px;
    margin: 0 2px 2px 0;

}

footer{

    padding: 20px;
    text-align: center;
    background-color: #5b7dcf;
    font-family: 'Times New Roman', Times, serif;

}

.img{

    width: 35%;
    border: 2px solid white;
    border-radius: 35px;
    padding: 10px;

}

.links{

    width: 10%;
    border: 2px solid white;
    border-radius: 25px;
    padding: 10px;

}

.port{

    width: 50%;
    padding: 50px;

}

@media screen and (max-width: 700px ){
    
    nav, .row{

        flex-direction: column;

    }

    body {background-color: black;}

}

.texto{

    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 5px 25px;
    color: #fff;
    
}

.textos{

    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 5px 25px;
    color: #fff;
    
}

.desarrollos{

    background-color: #96b3ff;
    animation: filldesarrollos 2s forwards;

}

@keyframes filldesarrollos{
    0%{width: 0;}
    100%{width: 80%;}
}

.confi{

    background-color: #96b3ff;
    animation: fillconfi 2s forwards;

}

@keyframes fillconfi{
    0%{width: 0;}
    100%{width: 100%;}
}

.html{

    background-color: #96b3ff;
    animation: fillhtml 2s forwards;

}

@keyframes fillhtml{
    0%{width: 0;}
    100%{width: 70%;}
}

.mante{

    background-color: #96b3ff;
    animation: fillmante 2s forwards;

}

@keyframes fillmante{
    0%{width: 0;}
    100%{width: 80%;}
}

.pepe{

    background-color: #96b3ff;
    animation: fillpepe 2s forwards;

}

@keyframes fillpepe{
    0%{width: 0;}
    100%{width: 80%;}
}

.papa{

    background-color: #96b3ff;
    animation: fillpapa 2s forwards;

}

@keyframes fillpapa{
    0%{width: 0;}
    100%{width: 85%;}
}